# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\JensH\IdeaProjects\SpareParts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/SpareParts.iml
/vcs.xml
/inspectionProfiles/Project_Default.xml
/pylint.xml
